body {
  background: #1d1d1d;
  font-family: "Roboto", sans-serif;

  /* 
  background: linear-gradient(
    90deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(34, 40, 49, 1) 29%,
    rgba(69, 78, 92, 1) 100%
  ); */
}

.header {
  display: inherit;
  /* margin: 0 auto; */
  padding-bottom: 50px;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background: #1d1d1d;
  /* background: white; */
  color: #131313;
}

#gameCode {
  display: none;
  margin: 0 auto;
}
#joinGame {
  display: none;
  margin: 0 auto;
}

#hostSettings {
  display: none;
  margin: 0 auto;
}

.buttons {
  display: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-align: center;
  font-size: 1.25vw;
}

.button {
  cursor: pointer;
  color: #131313;

  text-decoration: none;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 30%;

  background-color: #f93939;
  border-radius: 100px;

  background-image: linear-gradient(
    45deg,
    #b50717 0%,
    #cf291d 90%,
    #cf291d 100%
  );
  background-size: 300%;
  background-position: left;

  transition: 300ms background-position ease-in-out;
  font-family: "Work Sans", sans-serif;
}
.button:hover {
  background-position: right;
}

.submit-button {
  width: 300px;
  height: auto;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  border-radius: 5px;

  display: table;
}

#gameBoard {
  display: table;
  display: none;
  margin: 0 auto;
}

form {
  color: white;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
}

.break {
  flex-basis: 100%;
  height: 0vw;
}

h1 {
  background: linear-gradient(45deg, #b50717 0%, #cf291d 57%, #b50717 100%);
  font-size: 5vw;
  font-family: "Work Sans", sans-serif;
}
